@import './vars.scss';
.card {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: relative;

  &--large{
    width: 370px;
    max-width: 370px;
  }

  &__product-info{
    position: absolute;
    bottom: 0px;
    padding: 10px 20px;
    width: 100%;
    background-color: rgba($white, 0.8);
    display: flex;
    flex-direction: column;
    gap: 10px;
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    &--active{
      display: flex;
    }
  }

  & .icon-btn{
      position: absolute;
      top: 21px;
      right: 20px;
      width: 20px;
      height: 20px;
  }


  &__media {
    background: $not-active;
    width: 100%;
    height: auto;
  }

  
  &__button-container{
    display: flex;
  }
}
