@import './vars.scss';

.input{
    &-container{
        position: relative;

    }

    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button{
        display: none;
    }

    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding-left: 15px;
    font-size: $label;
    border: 1px solid $div;
    transition: 0.2s all ease-in;
    box-sizing: border-box;

    &:focus{
        outline: 1px solid $accent;
    }


    &__floating-label{
        transition: 0.2s all ease-in;
        pointer-events: none;
        position: absolute;
        top: 20px;
        left: 15px;
    }

    &:focus ~ &__floating-label,
    &:not(:placeholder-shown):valid ~ &__floating-label{
        top:8px;
        bottom: 8px;
        left: 15px;
        font-size: $floated-label;
        color: $accent;
    }


}

textarea.input{
    margin-top: 25px;
    resize: none;
    padding-top: 20px;
    height: 70px;
}


