@import './vars.scss';

.container {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.right-side{
    max-width: 50%;
}

.product {
  &__info-block {
    display: flex;
  gap: 20px;
  flex-direction: column;
  }

  &__controller {
    display: flex;
    flex-direction: column;
    gap: 15px;

    & button {
      width: 100%;
    }
  }
}

.extra-info{
    padding: 40px 100px;
    ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
            }

    &__item{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


}
