@import './vars.scss';

.review-block {
  background-color: $bg;
  padding: 60px 15%;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;

    & h2 {
      font-size: $large;
    }

    & div {
        display: flex;
        gap: 2%;
        align-items: center;
        width: 18%;
        justify-content: flex-end;

        font-size: $label;
    }
  }
  &__carousel{
      display: flex;
      align-items: center;
      overflow: hidden;
  }


}
