// colors
$accent: #A77D57;
$gold: #D9A95E;
$tooltip: #555555;
$black: #111111;
$white: #FFFFFF;
$not-active: #E2E1DB;
$not-active-text: #4b4b4b;
$bg: #F6F6F6;
$div: #E2E1DB;
$greyBorder: #ECECEC;


//fonts size
$label: 13px;
$md: 18px;
$small: 16px;
$large: 24px;
$title: 28px;
$h2: 36px;
$floated-label: 11px;


